---
import Layout from "../layouts/Layout.astro";

import About from "@/components/About.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";
import Proyects from "@/components/Proyects.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="Porfolio">
    <main>
        <Hero />
        <About />
        <Experience />
        <Education />
        <Proyects />
        <Skills />
    </main>

    <KeyboardManager />

    <style></style>
</Layout>
